---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.mdx');
---

<Layout title="My Astro Blog">
  <main>
    <h1>Welcome to my blog</h1>
    <ul>
      {allPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
        />
      ))}
    </ul>
  </main>
</Layout>
